.input {
   padding: 5px 5px;
   border: 1px solid transparent;
   border-radius: 3px;
   /* width: 100%;  */
   outline: 0;
   background-color: #A7C1C8;
   transition: width 2s ;
}

.input:hover {
    width: 15%;
    background-color:#fff ;
}