/* Icon menu
.icon_menu {
  stroke: rgba(52, 49, 49, 0.975);
  width: 24px;
  height: 24px;
}

.icon_menu:hover {
  opacity: 0.7;
}

/*li elements inside of the navBar*/
.nav_list {
  list-style: none;
  margin-left: 5rem;
  padding-top: 13px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu {
  position: absolute;
  top: 0;
  left: 40px;
  padding-top: 15px;
}

/*Navbar container*/
.nav_container {
  border-bottom: 1px solid var(--border-color-base);
  height: 50px;
} */
