.listItem {
  display: flex;
  align-items: flex-start;
  background-color: var(--background-color);
  margin: 5px;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  min-height: 10px; /* set minimum height */
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color-base);
  border-radius: 3px;
  padding-bottom: 5px;
  padding-top: 5px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  gap: 10px;
  width: 100%;
  flex: 1;
  /* margin-bottom: 5px; */
  text-align: left;
}
.listItem > * {
  align-self: center;
}

.listItem_container {
  display: flex;
  flex-direction: column;
  min-height: 30px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.checkbox_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-right: 10px;
  width: 30px;
  min-width: 40px; /* adjust this value as needed */
  flex: 1;
}

.checkbox {
  accent-color: var(--primary-color);
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 12px;
  width: 20px;
  height: 20px;
  margin: 0 auto;
}

.item_text {
  display: flex;
  text-align: left;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  flex: 1;
}git status .item_textgit status {}

.item_text:hover {
  opacity: 0.7;
}

/* ------ buttons and icons ------*/

.icons {
  color: #393d40;
  width: 20px;
  height: 20px;
  opacity: 1;
  cursor: pointer;
}

.icons:hover {
  opacity: 0.7;
}

/* -----input tag this css triggers when the user wants to edit a task -----*/

.ant_edit {
  background-color: var(--background-color);
  border: none;
  outline: none;
  width: 100%;
  max-width: 100%;
  color: black;
  font-weight: bold;
  padding: 8px 8px 5px;
  font-size: 12px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  flex-grow: 1;
  min-height: 35px;
  word-break: break-all;
  flex: 1;
  flex-direction: column;
  border: solid 1px;
  background-color: white;
  border-radius: 0px;
  padding: 0px 4px 0px;
}

.edit_text {
  /* align-self: flex-start; */
  margin-right: auto;
  text-align: left;
  padding-top: auto;
  padding-bottom: auto;
  overflow: auto;
  flex: 1;
  flex-direction: column;
  width: 100%;
}

.form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  word-break: break-all;
  width: 100%;
  overflow: auto;
  align-self: flex-start;
  flex: 1;
  flex-direction: column;
}

.edit_container {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  word-break: break-all;
  overflow: auto;
  align-self: flex-start;
  flex: 1;
  padding-bottom: 20;
  margin-bottom: 15px;
}

@media (max-width: 25em) {
  .listItem {
    padding-top: 1px;
  }
}

/* @media (max-width: 68em) {
  .form {
    left: 2.5rem;
  }
} */
