/* ----grid from the div tag ----*/

.split_box {
    display: grid;
    grid-template-columns: 1fr 200px;
    height: 100vh;
}

/*--- this is the item description component---*/
.right_pane {
    background-color: #fdfdff;
    
    
}

/*--- this the AddForm and TodoLis component ---*/

.left_pane {
    background-color: #fdfdff;
    border: 1px solid #c2c2c2;
    border-top: none;
    border-left: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 4rem;
    /* margin-right: 4rem; */
    padding-right: 3rem;
}

/*todo list title*/

.tableId {
    font-weight: 250;
    font-size: 23px;
    padding-top: 15px;
    padding-left: 15px;
    position: absolute;
    top: 50px;
}

/*Middle pane todoLis and ItemDescription components*/

/*Deleted it the styling for the middle pane and put in the App modules file
so it can works with all the reused components*/

 .todo_container {
    /* margin-left: 250px; */
    transition: left .25s;
    padding-bottom: 5rem;
    /* margin-right: 200px; */
  }
  .todo_container.active {
    padding-left: 250px;
    overflow: hidden;
    transition: left .25s;
    margin-right: 200px;
  }
