/*grid instead*/

.split_box {
    display: grid;
    grid-template-columns: 1fr 400px;
    height: 100vh;

}

.right_pane {
    background-color: #fdfdff;
}

.left_pane {
    background-color: #fdfdff;
    border: 1px solid rgb(123, 123, 123);
    border-right: none;
}



/* Flex box*/

/* .split_box {
    background-color: aliceblue;
    display: flex;
    align-items: center; vertically aligment inside the box
    justify-content:flex-start; horizontally aligment inside the box (main-axis)
    height: 100vh;


    flex-direction: row; colunm
*/ 
       


/*For changing position when working with small devices --> order property,
by default all items are in 0
*/

/*flex property
            --> default
flex-grow: 0; 
flex-shrink: 1;
flex-basis: auto;
*/

/*individual items inside of flex box*/

/* .right_pane {
    background-color: rgb(232, 195, 241);
    align-self: stretch; vertially aligment for each item
    /* list-style: none;
    flex-basis: 400px;
} */


/* .left_pane {
    align-self: stretch;
    background-color: rgb(236, 255, 243);

}  */

