/*Icons, just icon_sideBar is being used */
 
.icon_menu {
    color: #393d40;
    width: 24px;
    height: 24px;
}

.icon_x {
    color: #393d40;
    width: 24px;
    height: 24px;
}

.icon_sideBar {
    color: #393d40;
    width: 24px;
    height: 24px;
} 


/*sidebar*/

/* conditional redenring in the class name inside the nav tag */

.nav_menu_done {
    background-color: #fdfdff;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 60px;
    left: -100%;
    transition: 1s;
}
.nav_menu_active {
    background-color: #fdfdff;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 60px;
    left: 0px;
    transition: 0.5s;

}

/* ul inside of nav tag */

.nav_menu_items {
    width: 100%;
    
}


/* li tag with the map method */

.items_sideBar {
  display: flex;
  align-items: row;
  justify-content: start;
  padding: 10px 30px 0px 40px;
  list-style: none;
  height: 35px;

}

.items_sideBar a{
    text-decoration: none;
    color: #989292;
    font-size: 18px;
    width: 100%;
    display: flex;
    align-items: center;
    gap:30px;
    padding: 0 7px;
    border-radius: 4px;

}

.items_sideBar a:hover {
    background-color: #8cabb2;
    width: 100%;
    color: #393d40;
    cursor: pointer;
}





