
/*Icon menu*/
.icon_menu {
    stroke: rgba(52, 49, 49, 0.975);
    width: 24px;
    height: 24px;

}
  

/*li elements inside of the navBar*/
.nav_list {
    /* border: 5px solid black; */
    list-style: none;
    /* display: flex;
    align-items: row;
    color: black;
    gap: 4.8rem;
    justify-content:flex-start; */
    margin-left: 6rem;
    padding-top: 13px;

} 


/*icon keeps moving down*/
.menu {
    position: absolute;
    top: 0;
    left: 50px;
    padding-top: 15px;
    
}

/*Navbar container*/
 .nav_container {
    border-bottom: 1px solid #c2c2c2;
    height: 50px;
 }
