
/*Icon menu*/
.icon_menu {
    stroke: rgba(52, 49, 49, 0.975);
    width: 24px;
    height: 24px;
}


/*li elements inside of the navBar*/
.nav_list {
    list-style: none;
    display: flex;
    align-items: row;
    color: black;
    gap: 4.8rem;
    justify-content:flex-end;

} 

.menu {
    position: fixed;
    left: 50px;
    padding-top: 15px;
    
}

/*Navbar container*/
 .nav_container {
    border-bottom: 1px solid rgb(123, 123, 123);
    height: 50px;
 }
