/* ----user errors ----*/
.error {
  color: var(--error-color);
  font-size: 1.125rem; /* equivalent to 18px */
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center; /* Aligns the error message in the center */
  text-decoration: underline; /* Underlines the error message */
  font-weight: 700; /* Makes the error message bold */
}

/*--- AddForm and TodoList component ---*/
.todo_list {
  background-color: var(--background-color);
  border: 1px solid var(--border-color-base);
  display: flex;
  justify-content: space-between;
  align-items: flex;
  border: none;
  flex-direction: column;
  padding-left: 5rem;
  height: 100%;
  width: 90%;
  overflow-y: auto;
  padding-top: 1rem;
  min-height: 90vh;
}

.banner {
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 500;
  text-decoration: none; /* add underline */
  cursor: pointer; /* add cursor on hover */
  transition: all 0.2s ease-in-out; /* add transition effect */
}

.banner:hover {
  color: var(--error-color); /* change text color on hover */
  text-shadow: 3px 2px 3px #68dcc5; /* add text shadow on hover */
  transform: scale(1.1); /* add scale effect on hover */
}

/*todo list title*/
.table_name {
  font-weight: 500;
  font-size: 1.4375rem; /* equivalent to 23px */
  padding-top: 5px;
  padding-left: 5px;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 10px; /* Adds more margin to the bottom */
}

/*Image Component*/

.image_link {
  width: 10rem;
  height: 10rem;
  display: block;
  margin: auto;
  cursor: pointer;
  border: 4px solid var(--primary-color);
  border-radius: 50%; /* make the border circular */
  overflow: hidden; /* ensure that the image stays within the circular border */
  padding: 4px; /* add some padding to make room for the inner border */
}

.image_link img {
  display: block;
  max-width: 100%;
  height: auto;
  border: 1px solid white; /* add the inner white border to the image */
  border-radius: 50%; /* make the image circular */
}

/*Sort button*/
.sort_button {
  color: #393d40;
  width: 23px;
  height: 23px;
  opacity: 1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  border: 1px solid;
  cursor: pointer;
}

/*------ loading text -------*/
.loading_text {
  display: block;
  margin-left: 1rem;
  margin-top: 3px;
  font-size: 14px;
}

/* iPhone XR */
@media only screen and (max-width: 414px) {
  .todo_list {
    margin: auto;
  }
}

/* iPad Air */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .todo_list {
    margin: auto;
  }
}

/* iPad Mini */
@media only screen and (min-width: 415px) and (max-width: 1024px) {
  .todo_list {
    margin: auto;
  }
}

@media only screen and (min-width: 920px) and (max-width: 2560px) {
  .todo_list {
    margin: auto;
  }
}

@media only screen and (min-width: 2560px) {
  .todo_list {
    margin: auto;
  }
}

@media screen and (max-width: 767px) {
  
  .image_link {
    width: 6rem;
    height: 6rem;
  }
  .banner {
    font-size: 1.2rem;
  }
  .table_name {
    font-size: 0.75rem;
  }
}
