@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Caveat&family=Fascinate&family=Marck+Script&family=Nunito:wght@300&family=Pacifico&family=Patrick+Hand&display=swap');


*{  
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
}

.Root {
    color: rgb(38, 49, 52);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header {
    color: rgb(38, 49, 52);
    background-color: rgb(254,215,102);
    padding: 5px;
    margin: 0px;
    height: 3em;
}

.Container {
    margin: 5px;
    padding: 10px;
}

.ListItem {
    margin: 5px;
    padding: 5px;
}

.AddToDoButton {
   background-color: rgb(255,112,112);
   color: rgb(54,73,78);
   font-size: medium;
   width: 4em;
   margin: 0px 5px 0px 5px;
   border: 'none';
   border-radius: 12px;
}

.InputBar {
    margin: 2px 6px 0px 6px;
    padding: 2px;
}

.RemoveButton {
    border: 'none';
    width: 20px;
    height: 20px;
    margin: 0px 5px 0px 5px;
}

body {
    background-color: rgb(0,159,183);
}

h1, h2, h3, h4 {
    font-family: 'Pacifico', cursive;
    color: rgb(38, 49, 52);
    margin: 5px;
}

ul {
    list-style-type: none;
}

input {
    background-color: rgb(230,230,234);
    border-radius: 4px;
}