* {
    margin: 0px;
    padding: 0px;
}

.Root {
    color: rgb(38, 49, 52);
    background-color: rgb(0,159,183);
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.Header {
    color: rgb(38, 49, 52);
    background-color: rgb(254,215,102);
    padding: 5px;
    margin: 0px;
    height: 3em;
}

.Container {
    padding: 10px;
    margin: 0px;
}

.ListItem {
    border: 4px, solid, rgb(227, 214, 231);
    width: 80%;
    margin-bottom: 35px;
}

.RemoveButton {
    border: 'none';
    background-image: url(./Images/trashIcon.png);
    width: 25px;
    height: 25px;
    margin: 5px 5px;
}

body {
    background-color: rgb(0,159,183);
}

h1, h2, h3, h4 {
    color: rgb(38, 49, 52);
}