
/* -------li TAG --------*/
.listItem{
    background-color: #f3f3f3;
    margin-left: 10px;
    margin-right: 10px;
    color: #393d40;
    font-size: 14px;
    height: 40px;
    padding-top: 8px;
    padding-left: 8px;


    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-bottom: 1px solid #c2c2c2;
    border-radius: 3px;
    gap: 10px;
   
}

.item_text {
  align-self: flex-start;
  margin-right: auto;
  text-align: left;
  padding-top: 8px;
  overflow: auto;
 
}

.item_text:hover {
  opacity: 0.5;
}


/* ------ BUTTONS_ICONS ------*/

.icons {
color: #393d40;
width: 23px;
height: 23px;
opacity: 1;
cursor: pointer;
}

.icons:hover {
  opacity: 0.5; 
}

  

/* -----input tag this css trigges when the user wants to edit a task -----*/

.edit_input {
  background-color: #f3f3f3;
  border: none;
  outline: none;
  width: 100%;
  height: 30px;
  color: black;
  font-weight: bold;
  padding-left: 5px;
  font-size: 14px;
} 

.form {
  cursor: pointer;
  position: absolute;
  left: 10rem;
}


/* ---------- checkbox -----------*/

.checkbox {
  accent-color: var(--primary);
}


/*Media Queries*/
/*Mobile view 330px*/
@media (max-width: 25em) {
  .listItem {
    padding-top: 1px;
    
  }
}






